.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
/* Header Start  */
header {
    padding: 57px 100px 57px 98px;
    background-color: #FFFFFF;
}

.Header_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav {
    width: 393px;
}
.nav_li {
    display: flex;
    justify-content: space-between;

}
li{
    font-weight: 500;
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
    color: #758BFD;
}
.news_li{
    color: #27187F;
}
.border_box{
    width: 221px;
   border: solid #27187F;
   border-radius: 10px;
   padding: 4px 6.2px;
   justify-content: flex-end;
   display: flex;

}
.fa-magnifying-glass {
color: #758BFD;
}
/* Header End  */

/* Section Start  */

section{
background-color: #DDEAF8;
padding: 94px 98px 135px 98px;
    
}

h1 {
    font-weight: 700;
    font-size: 32px;
    padding-bottom: 68px;
    color: #27187F;
    font-family: 'Ubuntu', sans-serif;

}

.cards {
    height: 717px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 51px;


}


.card_div {
    width: 400px;
    /* height-ის გარეშე ძაან წელავს ქვემოთ, მაგრამ მგონი არ უნდა ვწერდე Heigt-ს ხო? */
    height: 333px;
    padding: 33px 30px 112px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.card-text {
    font-weight: 400;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
margin-top: 33px;
}

/* Section End  */

/* Footer start  */

footer{
    padding: 75px 98px;
    background-color: #758BFD;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.footer_div{
     display: inline-block;
    vertical-align: middle;

}
h2{
    font-weight: 400;
    font-size: 20px;
    color: #00CAD7;
    font-family: 'Nanum Gothic', sans-serif;
}
.mail_P{
    font-size: 13px;
    font-weight: 400;
    font-family: 'Nanum Gothic', sans-serif;
    margin-top: 21px;
    margin-bottom: 12px;
}
.SM{
    display: flex;
    justify-content: space-between;
}
.SM_icons{
    color: #FFFFFF;
    width: 22px;
    height: 22px;
}
.payments{
    display: inline-block;
    vertical-align: middle;

}
/* Footer End  */